<app-navbar></app-navbar>

<div class="px-32">
  <h1 class="pt-10 text-3xl font-sans">New York - city</h1>
  <div class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
    <img class="object-cover object-center w-full h-96 rounded-lg"
      src="https://images.unsplash.com/photo-1682407186023-12c70a4a35e0?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2832&amp;q=80"
      alt="nature image" />
  </div>
  <h2>Luxury stay in St. John, VI, U.S.</h2>
  <p>14 guests7 bedrooms10 beds7 baths</p>
  <section class="flex">
    <div class="">
      <hr>
      <h3>The space</h3>
      <p>Placed on protected parkland and nestled deep into forested landscape, this modern hillside retreat towers over
        Denis Bay and the Sir Francis Drake Passage. Arrive to a cocktail reception and chef-prepared dinner, step
        across a meditation pond to a sleek circular lookout lounge, and play 8 ball in view of the infinity pool or nap
        in garden hammocks. You can hike down to Jumbie Beach in 15 minutes</p>
      <span class="text-blue-500 cursor-pointer active:text-blue-700"><u>Ver mas info</u></span>
    </div>
    <div class="">
      <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96">
        <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96"></div>
        <div class="p-6">
          <div class="flex items-center justify-between mb-2">
            <p class="block font-sans text-xl antialiased font-semibold leading-relaxed text-blue-gray-900">
              $95.00
            </p>
            <p class="block font-sans text-lg antialiased font-medium leading-relaxed text-blue-gray-900">
              night
            </p>
          </div>
          <p class="block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
            With plenty of talk and listen time, voice-activated Siri access, and an
            available wireless charging case.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button
            class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
            type="button">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </section>

</div>



<app-footer></app-footer>